
<div class="containera" style="max-width: 1320px; margin: 0 auto;">
  <header>
    <div class="">
      <nav class="">
        <ul class=" menu : flex : px-28 : justify-end : mx-11 " style=" color: #21243D;">
          <li class="px-3 : py-3"><a href="" class="font-semibold : text-xl : hover:text-red-500 ">Home</a></li>
          <li class="px-3 : py-3"><a href="/signin" class="font-semibold : text-xl : hover:text-red-500 ">Login</a></li>
          <li class="px-3 : py-3"><a href="/admin" class="font-semibold : text-xl : hover:text-red-500 ">Works</a>
          </li>
          <li class="px-3 : py-3"><a href="/blog" class="font-semibold : text-xl : hover:text-red-500">Blog</a>
          </li>
          <li class="px-3 : py-3"><a href="/contact" class="font-semibold : text-xl : hover:text-red-500">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>
