<app-header></app-header>
<article class="px-44">
    <div class="mt-5" style="padding-right: 10rem ;">
        <h1 style="margin-top: 20px; font-size: 23px; ">Featured works</h1>
        <div class="flex : mt-5">

            <div class="ml-8">
                <h1 class="font-bold : text-xl :" style="font-size: 28px; color: #21243D;">36 Days of Malayatham
                    Type</h1>
                <nav class="flex : mt-5">
                    <button class="border p-2 bg-red-500 text-white "
                        style="border-radius: 40px ; padding: 0 10px;">2020</button>
                    <h2 style="margin-left: 20px ;">Dashboard</h2>
                </nav>
                <div class="mt-5">
                    <p style="font-size: 17px;">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div>
            <hr width="100%" />
        </div>
        <br>
        <div class="flex : mt-5">

            <div class="ml-8">
                <h1 class="font-bold : text-xl :" style="font-size: 28px; color: #21243D;">36 Days of Malayatham
                    Type</h1>
                <nav class="flex : mt-5">
                    <button class="border p-2 bg-red-500 text-white "
                        style="border-radius: 40px ; padding: 0 10px;">2020</button>
                    <h2 style="margin-left: 20px ;">Dashboard</h2>
                </nav>
                <div class="mt-5">
                    <p style="font-size: 17px;">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div>
            <hr width="100%" />
        </div>
        <br>
        <div class="flex : mt-5">

            <div class="ml-8">
                <h1 class="font-bold : text-xl :" style="font-size: 28px; color: #21243D;">36 Days of Malayatham
                    Type</h1>
                <nav class="flex : mt-5">
                    <button class="border p-2 bg-red-500 text-white "
                        style="border-radius: 40px ; padding: 0 10px;">2020</button>
                    <h2 style="margin-left: 20px ;">Dashboard</h2>
                </nav>
                <div class="mt-5">
                    <p style="font-size: 17px;">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div>
            <hr width="100%" />
        </div>
        <br>
        <div class="flex : mt-5">

            <div class="ml-8">
                <h1 class="font-bold : text-xl :" style="font-size: 28px; color: #21243D;">36 Days of Malayatham
                    Type</h1>
                <nav class="flex : mt-5">
                    <button class="border p-2 bg-red-500 text-white "
                        style="border-radius: 40px ; padding: 0 10px;">2020</button>
                    <h2 style="margin-left: 20px ;">Dashboard</h2>
                </nav>
                <div class="mt-5">
                    <p style="font-size: 17px;">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div>
            <hr width="100%" />
        </div>
    </div>
    <br>
</article>



<app-footer></app-footer>