<!-- <p>login works!</p>
{{user | json}}
<section class="register">

    <form (ngSubmit)="onSubmit()" #formAdd="ngForm">
        <h3>register now</h3>
        <input type="text" name="username" [(ngModel)]="user.username" class="box">
        <input type="email" name="email"  [(ngModel)]="user.email" class="box">
        <input type="password" name="password" placeholder="enter your password" [(ngModel)]="user.password" id=""
            class="box">
        <input type="password" name="password" placeholder="re-enter your password" [(ngModel)]="user.password" id=""
            class="box">
        <input type="submit" value="register now" class="btn">
        <p>already have an account?</p>
        <a href="login" class="btn link">login now</a>
    </form>

</section> -->



<!---->
<div class="content-wrapper">
    <div class="content">
        <div class="signup-wrapper shadow-box">
            <div class="company-details ">

                <div class="shadow"></div>
                <div class="wrapper-1">
                    <div class="logo">
                        <div class="icon-food">

                        </div>
                    </div>
                    <h1 class="title">Welcome</h1>
                    <div class="slogan">G2 Esport</div>
                </div>

            </div>
            <div class="signup-form ">
                <div class="wrapper-2">
                    <div class="form-title">Signup</div>
                    <div class="form">
                        <form (ngSubmit)="onSubmit()" #formAdd="ngForm">
                            <p class="content-item">
                                <label>User
                                    <input type="text" placeholder="Lorem ipsum"  name="username" [(ngModel)]="user.username" required>
                                </label>
                            </p>

                            <p class="content-item">
                                <label>email address
                                    <input type="text" placeholder="lorem@loremipsum.com" name="email"  [(ngModel)]="user.email"  required>
                                </label>
                            </p>

                            <p class="content-item">

                                <label>password
                                    <input type="password" placeholder="*****" name="password" [(ngModel)]="user.password" required>
                                </label>
                            </p>

                            <input type="submit" value="Signup" class="btn" style="color: rgb(212, 14, 14) ;">

                            <a href="/signin" class="login">Signin</a>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">